* {
    margin: 0;
    padding: 0;
    max-width: 100%;   
    max-height: 100%;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .right-content, .left-content {
        width: 100%;
    }
  }

body {
    
    color: #333;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
    line-height: 18px;

}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.header {
   
    background-color: #ddd;
    width: 100%;
    z-index: 999;
    padding: 10px;
}

.box-logo {
   float: left;
}

.box-logo img {
    width: 200px;
    height: 60px;
   overflow: hidden;
    
}

.header-menu {
    display: flex;
    float: left;
    width: auto;
}



.header-menu li {
    padding: 10px;
}

.header-menu li a{
    color: #9b9b9b;
    line-height: 28px;
    padding: 5px 5px 0 5px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 8px;
}

.header-menu .active a{
    color: rgb(114, 169, 240);
    border-bottom: 2px solid;
}

 .header-user {
    
    float: right;
}

.header-user li {
    padding: 10px;
}

.header-user li a {
    line-height: 28px;
    padding: 5px 5px 0 5px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 8px;
}

.header-user li.span {
    padding: 0px;
}

 .btn-post {
    background: #5488c7;
    color: #fff!important;
    padding: 7px 15px 7px 15px;
    display: block;
    float: left;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}




.clear {
    clear: both;
}

.menu {
    background-color: #0054a0;
    padding: 0px 20px;
    margin-top: 100px;
}

.menu li {
    float: left;
    line-height: 20px;
    padding: 10px 20px;
    
}

.menu li:hover{
    background-color: rgb(92, 187, 108);
}

.menu .li_home {
    background-color:  rgb(92, 187, 108);
}

.menu ul li a {
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.search-bar {
    padding: 20px 0px;
    width: 100%;
    background-size: cover;
    background-image: url(/img/index_search_bg.jpg);
    background-repeat: no-repeat;
    
}

.search_container {
    background-color: #5488c7;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
}

.search_title{
    
    width: 100%;
    height: 100%;
    text-align: center;
}

.search_wrap {

}

.search_form {
    width: 80%;
    border-right: 1px white solid;
}

.its_submit {
    color: #fff;
    height: 42px;
    width: 112px;
   
    cursor: pointer;
    font-size: 14px;
    padding-left: 6px;
    background: #5488c7;
    border-color: #5488c7;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filter_form {
    
    
}

.filter_form form {
  
}

.dropbtn {
    background-color:rgb(156, 154, 154);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    width: 100%;
    margin: 5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

  .content {
      width: 80%;
      margin: auto;
  }
 

  ul .room_post_list {
    list-style: none;
}

.room_post {
    width: 100%;
    padding-right: 10px;
    border-bottom: 1px solid rgb(224, 224, 224);
}


.room_post .room_post_img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.room_post_content .price {
    float: right;
    color: red;
    font-weight: bolder;
}